<div class="menu">
  <div id='cssmenu'>
    <ul>
      <li><a href='home'><span>Ana Sayfa</span></a></li>
      <li><a href='hastanemiz'><span>Hastanemiz</span></a></li>
      <li><a href='bolumler'><span>Bölümler</span></a></li>
      <li><a href='unitelerimiz'><span>Tanı Üniteleri</span></a></li>
      <li><a href='doktorlar'><span>Doktorlarımız</span></a></li>
      <li><a href='kurumlar'><span>Anlaşmalı Kurumlar</span></a></li>
      <li><a href='fotogalleri'><span>Foto Galeri</span></a></li>
      <li class='last'><a href='contact'><span>İletişim</span></a></li>
    </ul>
  </div>
</div>